@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
/*neutral colors*/
/*typography*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card, .card__logo, #billForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

input#bill, input#numberPeople {
  width: 100%;
  height: 40px;
  background-color: #f4fafa;
  border-radius: 10px;
  font-size: 18px;
  margin-bottom: 2rem;
  text-align: right;
  padding: 1rem;
  font-family: "Space Mono", monospace;
  color: #00494d;
  font-weight: 700;
}

body {
  font-family: "Space Mono", monospace;
  background: #c5e4e7;
}

.card {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 350px;
}

input, button, submit {
  border: none;
}

.card__logo {
  height: 200px;
  width: 100%;
}

#billForm {
  background: white;
  border-radius: 25px;
  padding: 2rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #5e7a7d;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.split {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#fillForm {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input#bill {
  background-image: url("images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 1rem;
}

input#numberPeople {
  background-image: url("images/icon-person.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 1rem;
}

#selectTip {
  padding-bottom: 1rem;
}

#selectTip input[type="radio"] {
  display: none;
  width: 40px;
}

#selectTip input[type="number"] {
  width: 135px;
  background-color: #f4fafa;
  color: #5e7a7d;
  margin: .5rem 0rem;
  padding: .25rem;
}

#selectTip label, #selectTip input {
  position: relative;
  display: inline-block;
  font-size: 24px;
  width: 135px;
  text-align: center;
  border-radius: 5px;
  margin: .5rem 0rem;
  background-color: #00494d;
  color: white;
}

#selectTip input[type="radio"]:checked + label {
  background-color: #26c0ab;
  color: #00494d;
}

#card__sums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #00494d;
  height: 400px;
  border-radius: 25px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__totals {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem 0rem;
  -ms-flex-item-align: center;
      align-self: center;
}

.card__amount b {
  color: white;
}

.card__per {
  color: #26c0ab;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 24px;
}

#reset {
  height: 50px;
  width: 80%;
  border-radius: 10px;
  background-color: #26c0ab;
  margin: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Space Mono", monospace;
  font-size: 24px;
  color: #00494d;
}

@media only screen and (min-width: 800px) {
  .card__logo {
    height: 200;
  }
  #billForm {
    max-width: 900px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 2rem;
  }
  input#bill, input#numberPeople {
    width: 90%;
  }
  #card__sums {
    height: 400px;
  }
  #reset {
    margin-top: 7rem;
  }
  #selectTip {
    padding-bottom: 2rem;
  }
}
/*# sourceMappingURL=styles.css.map */